<h1>Edit Dish</h1>
<%= render 'form' %>

<br>
<button type="button" class="btn btn-default"> <%= link_to 'Cancel', dishes_path %></button>

<button type="button" class="btn btn-default"> <%= link_to 'Delete', @dish, method: :delete,
    data: { confirm: 'Are you sure?' }, class: "bordered-link" %></button>
